import { Contract, ElectrumNetworkProvider, TransactionBuilder } from "cashscript"
import { addressToPkhash } from "../lib/common.js"
// if with doesn't work, try assert
import PasswordVaultArtifact from './PasswordVault.json' with { type: 'json' }

// set up network provider
const provider = new ElectrumNetworkProvider('mainnet')

// setup contract arguments based on contract parameters
const contractArgs = [
  4_700n, // do not replace
  addressToPkhash('bitcoincash:qq4sh33hxw2v23g2hwmcp369tany3x73wugtc9p69g'),
  '123456',
]

// instantiate contract
export const passwordVaultContract = new Contract(PasswordVaultArtifact, contractArgs, { provider })

console.log(await passwordVaultContract.getUtxos())

// const qrCodeData = await QRCode.toString(contract.address, { type: 'terminal' }, )
// console.log(qrCodeData)
