import { ElectrumNetworkProvider, TransactionBuilder } from "cashscript"
import { contract } from './password-vault-instantiate.js'

// set up network provider
const provider = new ElectrumNetworkProvider('mainnet')

// instantiate Transaction Builder
const transactionBuilder = new TransactionBuilder({ provider })

// get the utxos of the contract
const utxos = await contract.getUtxos()

console.log(utxos)

// Create tx buidler class
const transactionBuilder = new TransactionBuilder({ provider })

const utxo = utxos[0]
transactionBuilder.addInput(
    utxo,
    contract.unlock.claim('my-passcode')
)

transactionBuilder.addOutput({
    amount: 4700n,
    to: 'bitcoincash:qq4sh33hxw2v23g2hwmcp369tany3x73wugtc9p69g'
})

const remaining = utxo.satoshis - 4700n - 300n
if (remaining > 546n) {
    transactionBuilder.addOutput({
        to: contract.address,
        amount: remaining
    })
}

const result = await transactionBuilder.send()
console.log(result)
