<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quasar Framework - Day 2</title>

    <style>
        /* pre > code {
            font-size:2rem;
            line-height: 1.1em;
        } */

        /* pre:hover:has(code) {
            transform: scale(1.5) translateY(-10%);
        } */
    </style>

    <link rel="stylesheet" href="/node_modules/reveal.js/dist/reveal.css">
    <link rel="stylesheet" href="/node_modules/reveal.js/dist/theme/league.css">
    <link rel="stylesheet" href="/node_modules/reveal.js/plugin/highlight/monokai.css">
    <link rel="stylesheet" href="/presentations/css/style.css">
</head>
<body>
    <div class="reveal">
        <div class="slides">
            <section>
                <div>
                    <h1 class="flex items-center justify-center gap-3 mb-4">
                        Quasar Framework
                    </h1>
                    <h3 class="text-2xl mb-2">Day 2 - Morning Session</h3>
                    <p class="text-lg">
                        Building Apps using the Quasar Framework
                    </p>
                </div>
            </section>

            <section data-auto-animate>
                <h3>Goal</h3>
                <div class="p-2 rounded-lg bg-white/10">
                    Create a user interface for the PasswordVault contract with Quasar Framework
                </div>
                <ul>
                    <li class="fragment">Create contract instance through the app</li>
                    <li class="fragment">Display contract info & balance</li>
                    <li class="fragment">Claim BCH from the contract</li>
                </ul>
            </section>

            <section>
                <h3>Why We Need a UI</h3>
                <div class="flex space-x-4">
                    <div class="fragment flex-1 px-2 py-10 bg-white/10 rounded-lg flex-col justify-center">
                        <div class="text-4xl mb-2">👩‍💻 Cashscript Playground</div>
                        <div class="text-2xl">Developers write and test contracts in a coding environment</div>
                        <!-- <ul class="text-2xl">
                            <li>Developer writes & tests contract in code editor</li>
                            <li>Useful for learning</li>
                            <li>Not practical for end-users</li>
                        </ul> -->
                    </div>
                    <div class="fragment flex-1 px-2 py-10 bg-white/10 rounded-lg flex-col justify-center">
                        <div class="text-4xl mb-2">💻 Command Line</div>
                        <div class="text-2xl">
                            Run contracts manually with commands—powerful but technical and error-prone
                        </div>
                        <!-- <ul class="text-2xl">
                            <li>Terminal / console for manual commands</li>
                            <li>User must type raw parameters (addresses, keys, amounts)</li>
                            <li>Not user friendly</li>
                        </ul> -->
                    </div>
                    <div class="fragment flex-1 px-2 py-10 bg-white/10 rounded-lg flex-col justify-center">
                        <div class="text-4xl mb-2">📱 User interface</div>
                        <div class="text-2xl">
                            Simple forms and buttons that make contracts easy for anyone to use
                        </div>
                        <!-- <ul class="text-2xl">
                            <li>Clean graphical interface</li>
                            <li>Accessible to non-technical users</li>
                        </ul> -->
                    </div>
                </div>
            </section>

            <section>
                <h3>What is quasar</h3>
                <p>Quasar is an MIT licensed open-source Vue.js based framework,
                    which allows you as a web developer to quickly create responsive
                    websites/apps
                </p>
            </section>
            <!-- <section>
                <h3>Vue.js</h3>
                <div>
                    Quasar is build on top of Vue.js, 
                    a JavaScript framework creating a declarative, component-based programming
                    model to efficiently develop complex user interfaces
                </div>
            </section> -->
            <section>
                <h3>Why Quasar?</h3>
                <ul>
                    <li>Easily create interactive user interface</li>
                    <li>Huge list web app components & utilities</li>
                    <li>Requires a single codebase for all platforms</li>
                </ul>
            </section>
            <section>
                <section>
                    <div class="rounded-lg p-2 bg-white/10 text-6xl text-center">
                        One codebase = All platforms
                    </div>
                    <ul>
                        <li>Web application</li>
                        <li>Mobile application</li>
                        <li>Desktop application</li>
                        <li>Browser extension</li>
                    </ul>
                </section>
            </section>

            <section>
                <h5>Activity: Setup development</h5>
                <ol style="min-width:50vw;">
                    <li>
                        <div>Open command line</div>
                    </li>
                    <li>
                        <div>Change directory to <i>password-vault-ui</i> folder:</div>
                        <div><i class="text-yellow-300">cd password-vault-ui</i></div>
                    </li>
                    <!-- <li>
                        <div>Install quasar cli:</div>
                        <div><i class="text-yellow-300">npm install -g @quasar/cli</i></div>
                    </li> -->
                    <li>
                        <div>Run dev server:</div>
                        <div><i class="text-yellow-300">npx quasar dev</i></div>
                    </li>
                    <li>
                        <div>Open server in browser:</div>
                        <div><i class="text-blue-300">http://localhost:9000</i></div>
                    </li>
                </ol>
            </section>

            <section data-visibility="hidden">
                <div class="text-6xl mb-8">
                    <i class="text-blue-300">npx quasar dev</i> fix
                </div>
                <ol>
                    <li>Download <i class="text-blue-300">https://tinyurl.com/package-lock</i></li>
                    <li>
                        Replace <i class="text-yellow-300">package-lock.json</i>
                        in
                        <i class="text-blue-300">password-vault-ui</i>
                        folder
                    </li>
                    <li>
                        Delete <i class="text-yellow-300">node_modules</i> folder
                    </li>
                    <li>
                        Run
                        <i class="text-blue-300">npm install</i>
                    </li>
                    <li>
                        Run
                        <i class="text-blue-300">npx quasar dev</i>
                    </li>
                </ol>
            </section>

            <section>
                <div>Project structure</div>
                <pre><code data-trim class="language-text">
                    quasar-project/
                    ├── quasar.conf.js   # Quasar configuration
                    ├── package.json     # Dependencies & scripts
                    ├── index.html       # Main html file
                    ├── public/          # Static assets
                    ├── src/
                    │   ├── assets/      # Images, etc.
                    │   ├── css/         # CSS, SASS, SCSS files
                    │   ├── boot/        # App boot files
                    │   ├── components/  # Reusable UI components
                    │   ├── layouts/     # App layouts
                    │   ├── pages/       # Route pages
                    │   ├── router/      # Routes
                    │   ├── stores/      # Pinia stores
                    │   └── App.vue      # Root component
                    └── dist/            # Build output
                </code></pre>
                <div class="p-2 rounded-lg bg-white/10">
                    How to create a quasar project:
                    <a href="https://quasar.dev/start/quick-start" data-preview-link>
                        https://quasar.dev/start/quick-start
                    </a>
                </div>
            </section>
            <section>
                <h3>Vue App Structure</h3>
                <div>Vue app is composed of components put together into an tree-like structure</div>
                <div class="flex justify-center">
                    <img src="../../images/ComponentsDiagram.svg" alt="Components diagram">
                </div>
            </section>
            <section>
                <section>
                    <h3>Vue file</h3>
                    <div>
                        Each component is written as single <i class="text-yellow-200">.vue</i>
                        file with 3 sections:
                    </div>
                    <ul>
                        <li>Template (HTML)</li>
                        <li>Script (Javascript)</li>
                        <li>Style (CSS)</li>
                    </ul>
                    <div class="p-2 rounded-lg bg-white/10 mt-4">
                        Open <i class="text-blue-300">HomePage.vue</i> in
                        <i class="text-yellow-200">src/pages/</i> folder
                    </div>
                </section>
                <section>
                    <h3>Template</h3>
                    <div>Defines the HTML structure of your component.</div>
                    <pre><code data-trim class="language-html">
                        <template>
                            <div>
                                <h5>Contract address: {{ contractAddress }}</h5>
                                <button> Create contract </button>
                            </div>
                        </template>
                    </code></pre>
                </section>
                <section>
                    <h3>Script</h3>
                    <div>
                        Contains the JavaScript logic of your component,
                        where you define variables, functions, etc.
                    </div>
                    <pre><code data-trim class="language-javascript">
                        &lt;script setup>
                        import { ref } from 'vue'

                        const contractAddress = ref('bitcoincash:p...');

                        function updateAddress(newAddress) {
                            contractAddress.value = newAddress;
                        }
                        &lt;/script>
                    </code></pre>
                </section>
                <section>
                    <h3>Style</h3>
                    <div>
                        Holds the CSS (or preprocessor like SCSS/SASS) for your component.
                    </div>
                    <pre><code data-trim class="language-css">
                        &ltstyle scoped>
                        h5 {
                            margin-top: 4px;
                            margin-bottom: 4px;
                        }
                        &lt/style>
                    </code></pre>
                </section>
            </section>
            <section>
                <h2>Vue JS Basics</h2>
                <div class="p-2 rounded-lg bg-white/10 mt-4">
                    https://vuejs.org/guide
                </div>
            </section>
            <section>
                <section data-auto-animate>
                    <h3>Declarative Rendering</h3>
                    <div>
                        You describe what the UI should look like based
                        on the state of your component
                    </div>
                </section>
                <section data-auto-animate>
                    <h3>Declarative Rendering</h3>
                    <div>
                        Unlike imperative style
                        <span class="fragment">
                            where you have to:
                            <i class="text-blue-300">document</i>.<i class="text-yellow-200">getElementById</i>(...)
                        </span>
                        <span class="fragment">
                            , set .<i class="text-blue-300">innerHTML</i>
                        </span>
                        <span class="fragment">
                            , <i class="text-blue-300">classList.<span class="text-yellow-200">add</span>(...)</i>
                        </span>
                    </div>
                    <div class="fragment">Vue framework takes care of this</div>
                </section>
                <section data-auto-animate>
                    <h3>Declarative Rendering</h3>
                    <div class="flex justify-center">
                        <img src="../../images/declarative-rendering.svg" class="h-64"/>
                    </div>
                </section>
                <section data-auto-animate>
                    <h3>Declarative Rendering</h3>
                    <div>Declare the component's variables using <strong class="text-yellow-200">ref()</strong></div>
                    <pre><code data-trim class="language-javascript" data-line-numbers="">
                        &lt;script setup>
                        import { ref } from 'vue'

                        const contractAddress = ref('bitcoincash:p...');

                        console.log(contractAddress.value);

                        function updateAddress(newAddress) {
                            contractAddress.value = newAddress;
                        }
                        &lt;/script>
                    </code></pre>
                </section>
                <section data-auto-animate>
                    <h3>Declarative Rendering</h3>
                    <div>
                        Use double curly braces <strong class="text-yellow-400">{{ }}</strong> to
                        display variables and expressions in html components
                    </div>
                    <pre><code data-trim class="language-html" data-line-numbers="4">
                        <template>
                            <div>
                                <h5>
                                    Contract address: {{ contractAddress }}
                                </h5>
                            </div>
                        </template>
                    </code></pre>
                </section>
                <section data-auto-animate>
                    <h3>Declarative Rendering</h3>
                    <div>
                        Use data binding to pass variables or expressions as html attributes
                        using <strong class="text-blue-300">v-bind</strong>
                    </div>
                    <pre><code data-trim class="language-html" data-line-numbers="3-4,10">
                        <template>
                            <div>
                                <img v-bind:src="imageUrl" />
                                <img :src="imageUrl" :size="300" />
                            </div>
                        </template>
                        &lt;script setup>
                        import { ref } from 'vue'

                        const imageUrl = ref('https://example.com/image.png');
                        &lt;/script>
                    </code></pre>
                </section>
            </section>

            <section>
                <section data-auto-animate>
                    <h3>Event Handling</h3>
                    <div>
                        Listening to DOM events using
                        <strong class="text-blue-300">@</strong>. 
                    </div>

                    <pre><code data-trim class="language-html" data-line-numbers="">
                        <button @click="fetchBalance">Refresh balance</button>

                        <button @click="fetchBalance()">Click me</button>
                    </code></pre>

                    <div class="p-2 rounded-lg bg-white/10">
                        Accepts a function or an expression
                    </div>
                </section>
                <section data-auto-animate>
                    <h3>Event Handling</h3>
                    <div>
                        Functions referenced in template are declared in
                        <strong class="text-blue-300">script</strong>
                    </div>

                    <pre><code data-trim class="language-javascript" data-line-numbers="5-7">
                        &lt;script setup>
                        import { ref } from 'vue'
                        // ...

                        function fetchBalance() {
                            // function body
                        }

                        &lt;/script>
                    </code></pre>
                </section>
                <section data-auto-animate>
                    <h3>Event Handling</h3>
                    <div>
                        Inside the function, you can access variables & other functions
                    </div>

                    <pre><code data-trim class="language-javascript" data-line-numbers="">
                        &lt;script setup>
                        import { ref } from 'vue'
                        const balance = ref();

                        function fetchBalance() {
                            // ... fetch balance logic
                            balance.value = newBalance;
                        }
                        &lt;/script>
                    </code></pre>
                </section>
            </section>

            <section>
                <section data-auto-animate>
                    <h3>Form Input Bindings</h3>
                    <div>
                        The <strong class="text-blue-300">v-model</strong> allows
                        two-way data binding for form input elements,
                        automatically syncing the input's value and the variables value
                    </div>
                    <pre><code data-trim class="language-html" data-line-numbers="">
                        <template>
                            <input v-model="message" />

                            <textarea v-model="message"></textarea>
                        </template>
                        &lt;script setup>
                        import { ref } from 'vue'

                        const message = ref('');
                        &lt;/script>
                    </code></pre>
                </section>
                <section data-auto-animate>
                    <h3>Form Input Bindings</h3>
                    <div>
                        It works on all form related elements
                    </div>
                    <pre><code data-trim class="language-html" data-line-numbers="">
                        <input v-model="message" />

                        <input v-model="checked" type="checkbox" />

                        <select v-model="selectedOption">
                            <!-- options here -->
                        </select>

                        <input type="radio" v-model="pick" :value="first" />
                        <input type="radio" v-model="pick" :value="second" />
                    </code></pre>
                </section>
            </section>

            <section data-auto-animate>
                <section>
                    <h3>Activity: Contract Create</h3>
                    <div>
                        Create our Password Vault contract and display the contract details
                    </div>
                    <div class="p-2 rounded-lg bg-white/10 mt-4">
                        Open <i class="text-blue-300">HomePage.vue</i> in
                        <i class="text-yellow-200">src/pages/</i> folder
                    </div>
                </section>
                <section>
                    <h3>Activity: Contract Create</h3>
                    <ol>
                        <li>
                            Declare variables for contract parameters & contract instance using
                            <i class="text-yellow-300">ref()</i>
                        </li>
                        <li>Create input fields for each parameter </li>
                        <li>Create a button for that will run a function</li>
                        <li>
                            The function will create the contract instance.
                            <div class="p-2 rounded-lg bg-white/10 text-3xl">
                                Similar to earlier activity in
                                <i class="text-yellow-200">src/contracts/passvault-run.js</i>
                            </div>
                        </li>
                        <li>
                            Display the contract address
                        </li>
                    </ol>
                    <div class="p-2 rounded-lg bg-white/10">
                        We'll be using quasar components in creating the form elements
                    </div>
                </section>
            </section>

            <section>
                <section data-auto-animate>
                    <h3>Quasar Components</h3>
                    <div class="flex justify-center">
                        <img src="../../images/quasar-form-full.png"/>
                    </div>
                    <div>
                        <a href="https://quasar.dev/components" data-preview-link>
                            https://quasar.dev/components
                        </a>
                    </div>
                </section>

                <section data-auto-animate>
                    <h3>Quasar Buttons</h3>
                    <pre><code data-trim class="language-javascript">
                        <template>
                            &ltq-btn label="Click me"&#47;&gt
                            &ltq-btn label="Red" :color="btnColor"&#47;&gt
                            &ltq-btn no-caps :label="brownBtnLabel" color="brown-9"&#47;&gt
                            &ltq-btn label="Blue" color="primary" :loading="isLoading"&#47;&gt
                            &ltq-btn icon="delete" color="red"&#47;&gt
                        </template>
                    </code></pre>
                    <img src="../../images/quasar-btn.png" class="mx-auto"/>
                </section>

                <section data-auto-animate>
                    <h3>Quasar Form Inputs</h3>
                    <pre><code data-trim class="language-javascript">
                        <template>
                            &ltq-input v-model="name" label="Name" &#47;&gt
                            &ltq-input v-model="name" label="Name" outlined &#47;&gt
                            &ltq-file v-model="file" label="File Picker" &#47;&gt
                            &ltq-select v-model="selected" label="Select" :options="['Google', 'Facebook', 'Instagram']"&#47;&gt
                            &ltq-toggle v-model="isSwitchedOn" label="Switch"&#47;&gt
                            &ltq-checkbox v-model="isChecked" label="Checkbox"&#47;&gt
                        </template>
                    </code></pre>
                    <img src="../../images/quasar-form.png" class="h-30"/>
                </section>
            </section>

            <section>
                <h3>Conditional Rendering</h3>
                <div class="mt-4 p-4 bg-white/10 rounded-lg text-2xl">
                    <ul>
                        <li>
                            <strong class="text-blue-300">v-if</strong> and
                            <strong class="text-blue-300">v-else-if</strong>
                            accepts any valid javascript expression
                        </li>
                        <li>
                            <strong class="text-blue-300">v-if</strong>
                            removes the element from DOM
                        </li>
                        <li>
                            <strong class="text-blue-300">v-show</strong>
                            hides elements using CSS with
                            <i>display: none;</i>
                        </li>
                    </ul>
                </div>
                <pre><code data-trim class="language-html" data-line-numbers="">
                    <p v-if="contractAddress.length === 0">
                        Address is empty
                    </p>
                    <p v-else-if="contractAddress == null">
                        Address is null
                    </p>
                    &ltp v-else>
                        Address is not empty
                    &lt/p>

                    <p v-show="contractAddress.length > 0">
                        Contract address: {{ contractAddress }}
                    </p>
                </code></pre>
            </section>

            <section>
                <h3>Lifecycle Hooks</h3>
                <div class="mt-4 p-4 bg-white/10 rounded-lg text-2xl">
                    Functions that run based on the stages of the component's lifecyle
                </div>
                <pre><code data-trim class="language-javascript" data-line-numbers="2-36">
                    &lt;script setup>
                    import { onMounted, onUnmounted } from 'vue'

                    onMounted(function() {
                        window.alert('Mounted!')
                        createContract();
                    })

                    onUnmounted(function() {
                        window.alert('Unmounted!')
                    })

                    &lt;/script
                </code></pre>
            </section>

            <section>
                <h3>More Vue JS Basics</h3>
                <ul>
                    <li>Rendering lists</li>
                    <li>Computed Property</li>
                    <li>Watchers</li>
                    <li>
                        Component Basics
                        <ul>
                            <li>Props</li>
                            <li>Events</li>
                        </ul>
                    </li>
                </ul>

                <div class="p-2 rounded-lg bg-white/10 mt-4">
                    More on:
                    <span class="text-blue-300">https://vuejs.org/guide</span>
                </div>
            </section>

            <section>
                <section data-auto-animate>
                    <h3>Activity: Display balance</h3>
                    <div>
                        Create a button that fetch the contract's balance on click
                    </div>
                    <pre><code data-trim class="language-html" data-line-numbers="2-3">
                        <template>
                            <div>Balance: {{ balance }}</div>
                            <button @click="fetchBalance">Fetch balance</button>
                        </template>
                    </code></pre>
                </section>
                <section data-auto-animate>
                    <h3>Activity: Display balance</h3>
                    <ol>
                        <li>Display a variable <i class="text-blue-300">balance</i> and a button for fetching balance</li>
                        <li>
                            Create a function <i class="text-yellow-300">fetchBalance</i> that will:
                            <ol>
                                <li>Call contract's <i class="text-yellow-300">getBalance()</i></li>
                                <li>Update the <i class="text-blue-300">balance</i> variable</li>
                            </ol>
                        </li>
                        <li>Add loading dialog</li>
                    </ol>
                    <div class="p-2 rounded-lg bg-white/10">
                        We'll be using quasar dialogs in implementing the loading feature
                    </div>
                </section>
            </section>

            <section>
                <h3>Quasar Dialogs</h3>
                <div class="p-2 rounded-lg bg-white/10">
                    <div class="text-blue-300">
                        https://quasar.dev/vue-components/dialog
                    </div>
                </div>
                <div class="flex justify-center">
                    <pre><code data-trim class="language-javascript" data-line-numbers="2,9">
                        &lt;template>
                            <q-dialog v-model="isDialogShown">
                                <q-card>
                                    <q-card-section>
                                        Fetching
                                        <q-spinner/>
                                    </q-card-section>
                                </q-card>
                            </q-dialog>
                        &lt;/template>
                    </code></pre>
                </div>
            </section>

            <section>
                <section data-auto-animate>
                    <h3>Activity: Display QR code</h3>
                    <div>
                        Display contract address as QR code for sending BCH
                    </div>
                    <div class="p-2 rounded-lg bg-white/10 mt-6">
                        <div class="text-blue-300">
                            node-qrcode
                        </div>
                        an NPM package for generating QR codes
                    </div>
                </section>

                <section data-auto-animate>
                    <h3>Activity: Display QR code</h3>
                    <ol>
                        <li>
                            Import library
                            <pre><code data-trim class="language-javascript">
                            import QRCode from 'qrcode'
                            </code>
                        </li>
                        <li>
                            Declare a variable to hold the QR code image data
                        </li>
                        <li>
                            Create a function that will generate the QR code image data
                        </li>
                        <li>
                            Call the function in <i class="text-blue-300">createContract()</i>
                        </li>
                        <li>
                            Display the QR code image above the contract address
                        </li>
                    </ol>
                </section>
            </section>

            <section>
                <h3>Activity: Claim feature</h3>
                <ul>
                    <li>Create a form that with fields recipient address and passcode.</li>
                    <li>On submit, create a transaction</li>
                    <li>
                        Use the <i class="text-blue-300">txid</i> from the transaction details
                        to generate a link to the explorer:
                        <pre><code data-trim class="language-html">
                        &lt;q-btn
                            label="View in explorer"
                            :href="'https://explorer.bch.ninja/tx/' + claimTxid"
                            target="_blank"
                        />
                        </code></pre>
                    </li>
                </ul>
            </section>

            <section>
                <h3>Scaling Your App</h3>
                <div class="flex items-center space-x-4">
                    <div class="flex-1 px-2 py-10 bg-white/10 rounded-lg flex-col justify-center">
                        <div class="flex items-center justify-center text-4xl mb-2">
                            <img src="../../images/logos/pinia.svg" style="height:1em;margin: 0px 0.25em;">
                            Pinia
                        </div>
                        <div class="text-2xl">Global state management</div>
                    </div>
                    <div class="text-6xl">+</div>
                    <div class="flex-1 px-2 py-10 bg-white/10 rounded-lg flex-col justify-center">
                        <div class="flex items-center justify-center text-4xl mb-2">
                            <img src="../../images/logos/vue.svg" style="height:1em;margin: 0px 0.25em;">
                            Vue Router
                        </div>
                        <div class="text-2xl">Navigation management</div>
                    </div>
                </div>
            </section>

            <section>
                <section>
                    <div class="flex justify-center items-center text-center space-x-4">
                        <img src="../../images/logos/pinia.svg" class="h-48">
                        <div class="text-6xl text-yellow-300">Pinia</div>
                    </div>
                    <div>
                        Library for managing shared state in Vue.
                    </div>
                    <div class="mt-4 p-4 bg-white/10 rounded-lg">
                        https://pinia.vuejs.org
                    </div>
                </section>
                <section>

                    <h3 class="flex justify-center items-center text-center space-x-2">
                        <span>What does</span>
                        <img src="../../images/logos/pinia.svg" class="h-12">
                        <div class="text-yellow-300">Pinia</div>
                        <span>do?</span>
                    </h3>
                    <ul>
                        <li>Holds shared data accessible to all components</li>
                        <li>It works with VueJS' reactivity</li>
                        <li>
                            Can keep data persisted
                            <ul>
                                <li>
                                    Through
                                    <span class="text-green-400">pinia-plugin-persistedstate-2</span>
                                    library
                                </li>
                                <li>Store data is saved in <i>localStorage</i></li>
                            </ul>
                        </li>
                    </ul>
                </section>
                <section>
                    <h3 class="flex justify-center items-center text-center space-x-2">
                        <img src="../../images/logos/pinia.svg" class="h-12">
                        <div class="text-yellow-300">Pinia</div>
                    </h3>
                    <div class="flex justify-center">
                        <img src="../../images/pinia-diagram.svg" style="height:34rem;"/>
                    </div>
                </section>
                <section>
                    <pre><code data-trim class="language-text" data-line-numbers="3-5">
                        quasar-project/
                        ├── src/
                        │   ├── stores/               # Pinia folder
                        │   │   ├── index.js          # Creation file
                        |   |   └── wallet-store.js   # Pinia store example 
                        └── ...
                    </code></pre>
                    <div class="mt-4 p-4 bg-white/10 rounded-lg">
                        Quasar framework has pinia setup by default.
                    </div>
                </section>
                <section>
                    <h3>Defining a store</h3>
                    <div>Open <i class="text-blue-300">src/store/example-store.js</i></div>
                    <pre><code data-trim class="language-javascript" data-line-numbers="">
                    // src/store/example-store.js

                    import { defineStore } from "pinia";

                    export const useCounterStore = defineStore('counter', {
                        state: () => ({
                            counter: 0,
                        }),
                        getters: {
                            doubleCount: (state) => state.counter * 2,
                        },
                        actions: {
                            increment() {
                            this.counter++
                            },
                        },
                    })
                    </code></pre>
                </section>
                
                <section>
                    <h3>Using the store</h3>
                    <div>As a reactive state</div>
                    <pre><code data-trim class="language-javascript" data-line-numbers="2,5,7,10-11">
                        <template>
                            <div>Count: {{ counterStore.counter }} </div>
                        </template>
                        &lt;script setup>
                        import { useCounterStore } from 'src/store/example-store.js';

                        const counterStore = useCounterStore();

                        function displayStore() {
                            console.log(counterStore.counter);
                            console.log(counterStore.doubleCount);
                        }
                        &lt;/script>
                    </code></pre>
                </section>

                <section>
                    <h3>Using the store</h3>
                    <div>Updating the store's state</div>
                    <pre><code data-trim class="language-javascript" data-line-numbers="3-4,7,11-13">
                        <template>
                            <div>Count: {{ counterStore.counter }} </div>
                            <button @click="addFive">Add 5</button>
                            <button @click="counterStore.increment()">Increment</button>
                        </template>
                        &lt;script setup>
                        import { useCounterStore } from 'src/store/example-store.js';

                        const counterStore = useCounterStore();

                        function addFive() {
                            counterStore.counter = counterStore.counter + 5;
                        }
                        &lt;/script>
                    </code></pre>
                </section>
            </section>

            <section>
                <section>
                    <div class="flex justify-center items-center text-center space-x-4">
                        <img src="../../images/logos/vue.svg" style="height:2em;">
                        <div class="text-6xl text-green-300">Vue Router</div>
                    </div>
                    <div>Routing management for Vue</div>
                    <div class="p-4 bg-white/10 rounded-lg mt-4">
                        https://router.vuejs.org/
                    </div>
                </section>
                <section>
                    <div class="flex justify-center">
                        <img src="../../images/vue-router-diagram.svg" style="height:25rem;"/>
                    </div>
                    <div class="p-4 mt-4 bg-white/10 rounded-lg">
                        <ul>
                            <li>Connects URLs to Components</li>
                            <li>Makes Single-Page Apps feel like Multi-Page</li>
                        </ul>
                    </div>
                </section>
                <section>
                    <pre><code data-trim class="language-text" data-line-numbers="3-5">
                        quasar-project/
                        ├── src/
                        │   ├── router/               # Router folder
                        │   │   ├── index.js          # Setting up of Vue Router
                        |   |   └── routes.js         # Define routes here
                        └── ...
                    </code></pre>
                    <div class="mt-4 p-4 bg-white/10 rounded-lg">
                        Vue Router is also setup in Quasar framework by default
                    </div>
                </section>
                <section>
                    <div class="flex justify-center items-center text-center space-x-4 mb-8">
                        <img src="../../images/logos/vue.svg" style="height:1em;">
                        <span class="text-green-300 text-6xl">Vue Router</span>
                        <span class="text-6xl">components</span>
                    </div>
                    <div class="flex items-center space-x-4">
                        <div class="flex-1 px-2 py-10 bg-white/10 rounded-lg flex-col justify-center">
                            <div class="text-5xl mb-8">
                                <i class="text-blue-300">&ltrouter-view/></i>
                            </div>
                            <div class="text-3xl">
                                Placeholder where the component for the current URL is shown
                            </div>
                        </div>
                        <div class="flex-1 px-2 py-10 bg-white/10 rounded-lg flex-col justify-center">
                            <div class="text-5xl mb-8">
                                <i class="text-blue-300">&ltrouter-link/></i>
                            </div>
                            <div class="text-3xl">
                                Like a button that switches routes without reloading the page.
                            </div>
                        </div>
                    </div>
                </section>
            </section>

            <section data-auto-animate>
                <h3>References</h3>
                <ul>
                    <li>
                        Vue JS docs
                        <div class="px-4 bg-white/10 rounded-lg text-blue-300">
                            https://vuejs.org
                        </div>
                    </li>
                    <li>
                        Quasar components
                        <div class="px-4 bg-white/10 rounded-lg text-blue-300">
                            https://quasar.dev/components
                        </div>
                    </li>
                    <li>
                        Creating Quasar project
                        <div class="px-4 bg-white/10 rounded-lg text-blue-300">
                            https://quasar.dev/start/quick-start
                        </div>
                    </li>
                    <li>
                        Pinia: The intuitive store for Vue JS
                        <div class="px-4 bg-white/10 rounded-lg text-blue-300">
                            https://pinia.vuejs.org/
                        </div>
                    </li>

                    <li>
                        Vue Router
                        <div class="px-4 bg-white/10 rounded-lg text-blue-300">
                            https://router.vuejs.org/
                        </div>
                    </li>
                </ul>
            </section>

            <section>
                <h2>Back to Main</h2>
                <p><a href="../../index.html">← Workshop Overview</a></p>
            </section>

            <section data-visibility="hidden">
                <h3>Creating quasar project</h3>
                <ol class="text-3xl">
                    <li>Run command <i class="text-blue-300">npm init quasar@latest</i></li>
                    <li class="fragment">Set configuration
                        <ul>
                            <li class="fragment">
                                Select: <i class="text-blue-300">App with Quasar CLI</i>
                            </li>
                            <li class="fragment">
                                Set project folder name  (e.g. "my-project")
                            </li>
                            <li class="fragment">
                                Select script type: Javascript (or Typescript)
                            </li>
                            <li class="fragment">
                                Select <i class="text-blue-300">Quasar CLI with Webpack</i>
                            </li>
                            <li class="fragment">
                                Set package name (e.g. "my-project")
                            </li>
                            <li class="fragment">
                                Set project name (e.g. "My Project")
                            </li>
                            <li class="fragment">
                                Set project description
                            </li>
                            <li class="fragment">
                                Select Vue component style: <i class="text-blue-300">Options API</i>
                            </li>
                            <li class="fragment">
                                Select CSS preprocessor
                            </li>
                            <li class="fragment">
                                Select features in project: Linting (ESLint), State Management (Pinia), axios
                            </li>
                        </ul>
                    </li>
                    <li class="fragment">
                        Move to project folder <i class="text-blue-300">cd my-project</i>
                    </li>
                    <li class="fragment">
                        Install dependencies <i class="text-blue-300">npm install</i>
                    </li>
                    <li class="fragment">
                        Run server <i class="text-blue-300">quasar dev</i>
                    </li>
                </ol>
            </section>

            <section>
                <section>
                    <h2>Group Work</h2>
                    <div>
                        https://bit.ly/cashscript-group-work
                    </div>
                </section>
                <section>
                    <h2>Fund Raiser</h2>
                    <ul>
                        <li>Multiple people can fund the contract</li>
                        <li>Funds will be released to the owner, when the goal amount is reached</li>
                        <!-- <li>Funds will be refunded back to anyone, if the deadline is reached, and the goal amount is NOT YET reached</li> -->
                    </ul>
                </section>
                <section>
                    <h2>Salary Distribution</h2>
                    <ul>
                        <li>Employer funds the contract with one transaction (or more)</li>
                        <li>Contract distributes the funds to multiple employees automatically according to their set amounts</li>
                    </ul>
                </section>
                <section>
                    <h2>Donor Splitter</h2>
                    <ul>
                        <li>Donors send to a single contract</li>
                        <li>When the goal amount is reached, funds are split to multiple charities that were initially set</li>
                    </ul>
                </section>
                <section>
                    <h2>Rock Paper Scissors Game</h2>
                    <ul>
                        <li>The owner O will set his/her choice (rock, paper, or scissors) , and fund the contract</li>
                        <li>During play, the contender C will pick a choice</li>
                        <li>If C wins, the funds goes to C</li>
                        <li>If O wins, the funds goes to O</li>
                        <li>If draw, the funds goes to O as well</li>
                    </ul>
                </section>
                <section>
                    <h2>Any project idea</h2>
                    <div>Any real world application of CashScript</div>
                </section>
                <section>
                    <h2>Criteria</h2>
                    <ul>
                        <li>
                            <i class="text-blue-200">50%</i> - Cashscript contract functionality
                        </li>
                        <li>
                            <i class="text-blue-200">30%</i> - Javascript integration
                        </li>
                        <li>
                            <i class="text-blue-200">20%</i> - User Interface
                        </li>
                    </ul>
                </section>
            </section>
        </div>
    </div>

    <script src="/node_modules/mermaid/dist/mermaid.js"></script>
    <script>
        const MermaidPlugin = {
            id: 'mermaid',
            init: (deck) => {
                mermaid.initialize({ startOnLoad: false });

                setTimeout(() => {
                    deck.on('ready', () => {
                        renderMermaidSlides();
                    });
                }, 500)

                deck.on('slidechanged', () => {
                    renderMermaidSlides();
                });

                function renderMermaidSlides() {
                    const nodes = [];
                    document.querySelectorAll('.mermaid').forEach(el => {
                        if (!el.hasAttribute('data-processed')) nodes.push(el)
                    })

                    mermaid.run({ nodes });
                }
            }
        };
    </script>
    <script src="/node_modules/reveal.js/dist/reveal.js"></script>
    <script src="/node_modules/reveal.js/plugin/highlight/highlight.js"></script>
    <script>
        Reveal.initialize({
            hash: true,
            transition: 'fade',
            plugins: [RevealHighlight, MermaidPlugin]
        });
    </script>
</body>